$primary-blue: #1532BC;
$module-blue: #224EDE;
$highlight-blue: #2B85F8;
$missed-blue: #1C2861;
$favorite-green: #1FF1E5;
$pink: #FD5FBF;
$missed-pink: #93376F;
$yellow: #FFFDC4;
$black: #000000;
$white: #FFFFFF;
$shadow-grey: #C4C4C4;
$light-grey: #E5E5E5;

@keyframes blink-yellow {
    0% {
        opacity: .5;
    }
    50% {
        opacity: 1;
        box-shadow: 0 0 30px $yellow;
    }
    100% {
        opacity: .5;
    }
}

@keyframes blink-pink {
    0% {
        opacity: .5;
    }
    50% {
        opacity: 1;
        box-shadow: 0 0 30px $pink;
    }
    100% {
        opacity: .5;
    }
}

@keyframes blink-green {
    0% {
        opacity: .5;
    }
    50% {
        opacity: 1;
        box-shadow: 0 0 30px $favorite-green;
    }
    100% {
        opacity: .5;
    }
}

.main {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    // background: black;
    margin: 0;
    height: 600px;
}

.flex {
    display: flex;
    margin: 10px;
    min-height: 50px;
    width: 250px;
    background: transparent;
}

.board {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 350px;
    height: 350px;
    position: absolute;
    right: 0px;
}

.box {
    height: 30px;
    width: 30px;
    margin: 2px;
}

.blank {
    background: $primary-blue;
}

.module {
    height: 30px;
    width: 30px;
    background: $module-blue;
}

.stoplight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.threebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.back-box {
    height: 26px;
    width: 20px;
    background: $highlight-blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.bar {
    width: 24px;
    height: 6px;
}

.red {
    background: $pink;
    animation: blink-pink 2s ease-in .3s infinite;
}

.yellow {
    background: $yellow;
    animation: blink-yellow 1.5s ease-out infinite;
}

.yellow-bar {
    background: $yellow;
    animation: blink-yellow .5s ease-out infinite;
}

.green {
    background: $favorite-green;
    animation: blink-green 2.5s infinite;
}

.mod-2 {
    background: transparent;
}